/*Body General*/
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/*Incia Estilos Grupo09*/
.section-container-09 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.section-text {
    max-width: 50%;
    padding: 0 20px;
}
.section-text h2 {
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 0; 
    margin-left: 250px;
}
.section-text div {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 250px;
}
.section-image {
    max-width: 40%; 
    margin-left: 50px; 
    margin-right: auto; 
    animation: moveUpDown 3s infinite alternate;
}
.section-image img {
    max-width: 100%;
    height: auto;
    display: block;
}
.read-more-btn-container {
    margin-left: 250px; 
}
.read-more-btn {
    background-color: yellow; 
    border: none;
    color: black;
    padding: 20px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
/*Fin Estilos Grupo09*/